.centers .menu {
    display: flex;
    justify-content: center;
}

.centers .menu a {
    padding: 0 2rem 2rem 2rem;
    font-size: 1.7rem;
    color: rgb(8, 8, 60);
    text-decoration: underline;
}

.centers table {
    margin: 0 auto 4rem auto;
    border-collapse: collapse;
    text-transform: capitalize;
}

.centers table th {
    font-family: var(--font);
    font-weight: 400;
    font-size: 1.4rem;
    padding: 1rem 6rem;
    background: rgb(82, 81, 81);
    color: #fff;
}

.centers #view tr:hover {
    cursor: pointer;
}

.centers #view td {
    font-family: var(--font);
    font-size: 1.4rem;
    text-transform: none;
    padding: 1.5rem 5rem;
    text-align: center;
    border-bottom: var(--border);
}

.centers table td {
    text-align: left;
}


.centers .btn {
    color: white;
    background-color: black;
    padding: 1rem 2rem;
    margin-top: 1.2rem;
    border-radius: 1.8rem;
}

.centers .btn:hover {
    color: azure;
    background-color: black;
    cursor: pointer;
}

.centers .err {
    padding: 0;
    font-size: 1.6rem;
    font-style: italic;
    color: rgb(168, 17, 17);
}

.centers .hide {
    display: none;
}

.centers #eqcell {
    display: flex;
    justify-content: space-evenly;
}

.centers .pinp {
    width: 420px;
}