.content .std-view {
    width: 1100px;
    align-items: center;
    margin: 0 auto 5rem auto;
    padding-bottom: 1rem;
    border-bottom: 3px solid rgb(0, 0, 0);

}

.content .std-view h4 {
    padding: 1.5rem 0 2rem 0;
    font-size: 3rem;
}

.content .std-view table {
    width: 900px;
    margin-bottom: 4rem;
}

.content .std-view table td {
    font-size: 1.8rem;
    padding: 1rem 0;
    text-align: left;
}

.content .std-view .plbl {
    max-width: 120px;
}

.content .std-view .pinplbl {
    font-size: 1.8rem;
    width: auto;
    padding: 0;
}