@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:ital,wght@0,100;0,400;0,500;1,400&display=swap');

:root{
    --maiin-color: rgb(9, 9, 65);
    --black: black;
    --bg: rgb(216, 211, 211);
    --border: .5rem solid rgba(0, 0, 0, 0.3);
    --font: 'Roboto Serif', sans-serif;
}

*{
    font-family: 'Roboto Serif', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar{
    width: .8rem;
}

html::-webkit-scrollbar-track{
    background: transparent;        
}

html::-webkit-scrollbar-thumb{
    background: #fff;
    border-radius: 5rem;
}

section {
    padding: 5vw;
}

.header{
    background: rgb(202, 197, 197);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 1.5rem;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    
}

.header .logo{
    display: flex;
    align-items: center;

    justify-content: center;
}
.header .logo-text{
    color: var(--maiin-color);
    font-size: 3rem;
    font-weight: bold;
}


.header .logo-img img
{
    height: 12rem;
}

.header .navbar a{
    margin: 0.1rem;
    font-size: 1.6rem;
    padding-right: 40px;
}

.banner {
    min-height: 100vh;
    display: flex;
    align-items: center;
    background-image: url('../images/bg.jpg');
    background-size: cover;
    padding: 0;
}

.banner .content {
    background:linear-gradient(rgb(255, 255, 255), rgba(255, 255, 255, 0.5));
    max-width: 50%;
    text-align: center;
    padding: 50vh 5rem;
}

.banner .content h3{
    opacity: 1.0;
    font-size: 6rem;
}

.banner .content p{
    font-family: "Times New Roman", Times, serif;
    font-size: 1.5rem;
    font-weight: lighter;
    padding: 2rem;
    padding-left: 0;
}

.banner .content .btn {
    font-size: 1.5rem;
    color: #000;
    background-color: none;
    border: 1px solid #000  ;
    padding: 1rem;
}

.banner .content .btn:hover {
    color: #fff;
    background-color: #000;
    
}
    
.container h3 {
    font-size: 4rem;
    text-transform: capitalize;
    padding: 2rem 0;
    padding-bottom: 4rem;
}

.container .session-one {
    padding:  1rem;
}

.container .session-one:hover {
    padding:  1rem;
    background:linear-gradient(rgb(255, 255, 255, 1), rgba(255, 0, 255, 0.3));
    
}

.container .session-one h5 {
    font-size: 4rem;
}

.container .session-one table td{
    font-family: var(--font);
    text-transform: capitalize;
    font-size: 2rem;
    padding: 2rem 2rem;
}