.profile {
    display: flex;
    max-height: 700px;
}

#pro-edit {
    display: none;
}

.profile-pic {
    padding-top: 8rem;
    min-width: 500px;
    max-height: 500px;
}

.pp {
    max-height: 25rem;
    border-radius: 25rem;
    border: 2px solid rgb(0, 0, 0);
}

.details {
    padding-top: 4rem;
    min-width: 700px;
    max-height: 700px;
}

.details .btn {
    color: white;
    background-color: black;
    padding: 1rem 2rem;
    margin-left: 3rem;
    border-radius: 1.8rem;
}

.details .btn:hover {
    color: azure;
    background-color: black;
    cursor: pointer;
}

.details .err {
    padding: 0.5rem 0 2rem 5px;
    font-size: 1.6rem;
    font-style: italic;
    color: rgb(168, 17, 17);
    text-align: left;
}