.req .menu {
    display: flex;
    justify-content: center;
}

.req .menu a {
    padding: 0 2rem 2rem 2rem;
    font-size: 1.7rem;
    color: rgb(8, 8, 60);
    text-decoration: underline;
}

#userid {
    width: 230px;
}

#email {
    width: 230px;
}